.gray {color: gray;}

.grey {color: gray;}

.silver {color: silver;}

.white {color: white;}

.red {color: red;}

.magenta {color: magenta;}

.pink {color: pink;}

.orange {color: orange;}

.yellow {color: yellow;}

.lime {color: lime;}

.green {color: green;}

.teal {color: teal;}

.cyan {color: cyan;}

.aqua {color: aqua;}

.blue {color: blue;}

.navy {color: navy;}

.purple {color: purple;}
